.banner {
    margin-bottom: 38px;
    .text {
        margin-top: 6px;
        margin-bottom: 35px;
        h2 {
            font-weight: 300;
            font-size: 28px;
            line-height: 41px;
            letter-spacing: 0.03em;
            color: $dark;
            margin-bottom: 12px;
            u {
                text-decoration-color: $yellow;
            }
        }
        p {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            letter-spacing: 0.03em;
            color: $gray;
            @include center();
            line-height: 24px;
            span {
                margin-left: 4px;
                font-family: Playfair Display;
                font-weight: bold;
                font-size: 12px;
                letter-spacing: 0.03em;
            }
        }
    }
    .search {
        form {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            select {
                background: url(../images/icon/arrow-down16.svg) no-repeat right 10px center #fff;
                border: 1px solid $border;
                border-radius: 5px;
                font-weight: 500;
                font-size: 16px;
                line-height: 28px;
                height: 50px;
                color: $themeColor;
                width: 345px;
                appearance: none;
                padding-left: 30px;
                margin-bottom: 7px;
                option {
                    border-radius: 5px;
                }
            }
            input {
                background: #f9f9f9;
                border: 1px solid $border;
                border-radius: 5px;
                font-size: 16px;
                line-height: 50px;
                color: $lightGray;
                width: 345px;
                padding-left: 30px;
                margin-bottom: 7px;
            }
            button {
                margin: auto;
                background-color: $themeColor;
                border-radius: 6px;
                height: 50px;
                font-weight: 700;
                font-size: 16px;
                border: none;
                color: $white;
                width: 345px;
                font-weight: bold;
                letter-spacing: 1rem;
                transition: 0.1s;
                cursor: pointer;
                @include center();
                &:hover {
                    background-color: $hover;
                }
                img {
                    margin-right: 1rem;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .banner {
        .text {
            margin-top: 15px;
            h2 {
                margin-bottom: 15px;
            }
        }
        .search {
            form {
                select {
                    width: 350px;
                }
                input {
                    width: 350px;
                }
                button {
                    width: 350px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .banner {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 120px;
        margin-bottom: 57px;
        .text {
            h2 {
                text-align: left;
            }
            p {
                justify-content: flex-start;
            }
        }
    }
}

@media (min-width: 1200px) {
    .banner {
        .text {
            margin-top: 6px;
            margin-bottom: 35px;
            h2 {
                font-size: 48px;
                line-height: 70px;
                margin-bottom: 17px;
            }
            p {
                font-size: 20px;
                line-height: 30px;
                span {
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }
    }
}
