section.event {
    margin-top: 24px;
    .top {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 8px;
        h4 {
            margin-left: 21px;
            font-weight: 300;
            font-size: 24px;
        }
        a {
            margin-left: auto;
            margin-right: 21px;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            @include center();
            &:link,
            &:visited {
                color: $orange;
            }
        }
    }
    .event-card {
        margin-left: 21px;
        margin-right: 21px;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        .img-wrap {
            width: 26%;
            margin-right: 16px;
            @include center();
        }
        .img-wrap img {
            width: 100%;
            border-radius: 8px;
        }
        .text-wrap {
            color: $gray;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .time {
                font-size: 12px;
            }
            .name {
                font-size: 15px;
                color: #2f2f2f;
                font-weight: 700;
            }
            .location {
                font-size: 11px;
            }
        }
    }
}

@media (min-width: 1200px) {
    section.event {
        margin-top: 36px;
        .top {
            margin-bottom: 12px;
            h4 {
                margin-left: 60px;
                font-size: 36px;
            }
            a {
                margin-right: 66px;
                line-height: 36px;
            }
        }
        .list {
            flex-wrap: wrap;
            @include center();
        }
        .event-card {
            width: 45%;
            background-color: #f9f9f9;
            margin-bottom: 12px;
            border-radius: 12px;
            border: 1px solid $border;
            &:hover .img-wrap img {
                transform: scale(1.1);
            }
            .img-wrap {
                width: 160px;
                height: 160px;
                border-top-left-radius: 12px;
                border-bottom-left-radius: 12px;
                overflow: hidden;
            }
            .img-wrap img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                transition: 0.5s;
            }
            .text-wrap {
                height: 160px;
                justify-content: space-between;
                width: 80%;
                .time {
                    margin-top: 16px;
                    font-size: 16px;
                }
                .name {
                    margin-top: -35px;
                    font-size: 22px;
                }
                div {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 18px;
                }
                .location {
                    font-size: 16px;
                    display: flex;
                    img {
                        margin-right: 4px;
                    }
                }
                .hidden {
                    display: block;
                }
                .detail {
                    color: $themeColor;
                    margin-right: 24px;
                }
            }
        }
    }
}
