@keyframes move {
    from {
        transform: translateX(276px);
    }
    to {
        transform: translateX(0px);
    }
}

.moblie-menu {
    z-index: 800;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100vh;
    .bg {
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4px);
        nav {
            animation: move 0.2s;
            position: absolute;
            display: flex;
            flex-direction: column;
            right: 0;
            width: 276px;
            background-color: white;
            border-bottom-left-radius: 30px;
            padding-top: 0px;
            .top {
                display: flex;
                padding-top: 17px;
                padding-bottom: 17px;
                img.logo {
                    margin-left: 30px;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                li {
                    height: 77px;
                    line-height: 77px;
                    text-align: center;
                    a {
                        padding: 24px 89px;
                    }
                    a:link,
                    a:visited {
                        color: $gray;
                    }
                    &:nth-child(1) {
                        margin-left: 8px;
                        margin-right: 8px;
                        border-bottom: 1px solid $border;
                    }
                    &:nth-child(2) {
                        margin-left: 8px;
                        margin-right: 8px;
                        border-bottom: 1px solid $border;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .moblie-menu {
        display: none;
    }
}
