nav {
    display: flex;
    padding-top: 17px;
    padding-bottom: 17px;
    justify-content: center;
    h1 {
        display: none;
    }
}

header {
    position: relative;
    button {
        z-index: 999;
        position: fixed;
        right: 8px;
        top: 8px;
        background-color: $lightGreen;
        border-radius: 12px;
        border: none;
        width: 50px;
        height: 50px;
        transition: 0.1s;
        cursor: pointer;
        @include center();
        &:hover {
            background-color: $hover;
        }
    }
}

@media (min-width: 768px) {
    nav {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: $white;
        z-index: 800;
        align-items: center;
        justify-content: space-between;
        padding-top: 17px;
        padding-bottom: 17px;
        border-bottom: 1px solid $border;
        .mobile {
            display: none;
        }
        .desktop {
            display: block;
        }
        .logo.desktop.hidden {
            margin-left: 45px;
        }
        ul.desktop {
            display: flex;
            flex-direction: row;
            margin-right: 45px;
            li {
                a:link,
                a:visited {
                    transition: 0.4s;
                    color: $gray;
                    padding: 0 10px;
                }
                a:hover {
                    color: $themeColor;
                    box-shadow: 0px 3px 0 0px $yellow;
                }
            }
        }
    }
    button#menu-toggle {
        display: none;
    }
}
