section.res {
    margin-top: 24px;
    margin-bottom: 18px;
    .top {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 8px;
        h4 {
            margin-left: 21px;
            font-weight: 300;
            font-size: 24px;
        }
        a {
            margin-left: auto;
            margin-right: 21px;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            @include center();
            &:link,
            &:visited {
                color: $orange;
            }
        }
    }

}

@media (min-width: 1200px) {
    section.res {
        margin-top: 36px;
        margin-bottom: 120px;
        .top {
            margin-bottom: 12px;
            h4 {
                margin-left: 60px;
                font-size: 36px;
            }
            a {
                margin-right: 66px;
                line-height: 36px;
            }
        }
    
    }
}
