$themeColor: #7f977b;
$hover: #65895f;
$lightGreen: #a8b8a5;
$dark: #1e1e1e;
$gray: #646464;
$lightGray: #9e9e9e;
$white: #fff;
$border: #e6e6e6;
$yellow: #e0da48;
$orange: #ff725e;

@mixin center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    list-style: none;
    a {
        text-decoration: none;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
        margin: auto;
    }
}

body {
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

h4 {
    color: $dark;
}

footer {
    margin-top: 72px;
}

@media (min-width: 1200px) {
    footer {
        margin-top: 120px;
    }
}

@import './nav';

@import './breadcrumb';

@import './slider';

@import './_content.scss';

@import './spot';

@import './slider_spot';

@import './spot_card';

@import './footer';

@import './moblie-menu';
