* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  list-style: none;
}

* a {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: auto;
  }
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

h4 {
  color: #1e1e1e;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 17px;
  padding-bottom: 17px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav h1 {
  display: none;
}

header {
  position: relative;
}

header button {
  z-index: 999;
  position: fixed;
  right: 8px;
  top: 8px;
  background-color: #a8b8a5;
  border-radius: 12px;
  border: none;
  width: 50px;
  height: 50px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header button:hover {
  background-color: #65895f;
}

@media (min-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 800;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #e6e6e6;
  }
  nav .mobile {
    display: none;
  }
  nav .desktop {
    display: block;
  }
  nav .logo.desktop.hidden {
    margin-left: 45px;
  }
  nav ul.desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 45px;
  }
  nav ul.desktop li a:link,
  nav ul.desktop li a:visited {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: #646464;
    padding: 0 10px;
  }
  nav ul.desktop li a:hover {
    color: #7f977b;
    -webkit-box-shadow: 0px 3px 0 0px #e0da48;
            box-shadow: 0px 3px 0 0px #e0da48;
  }
  button#menu-toggle {
    display: none;
  }
}

nav.breadcrumb {
  margin-top: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav.breadcrumb ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  font-size: 12px;
  line-height: 21px;
  color: #646464;
  margin-left: 15px;
}

nav.breadcrumb ol li a::after {
  content: '/';
  margin-left: 4px;
  margin-right: 4px;
}

nav.breadcrumb ol a:link,
nav.breadcrumb ol a:visited {
  color: #6e7d60;
}

@media (min-width: 768px) {
  nav.breadcrumb {
    position: static;
    border: none;
    margin-top: 80px;
  }
  nav.breadcrumb ol {
    font-size: 16px;
    line-height: 28px;
    margin-left: 50px;
  }
}

.banner {
  margin-bottom: 38px;
}

.banner .search form {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .search form select {
  background: url(../images/icon/arrow-down16.svg) no-repeat right 10px center #fff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  height: 50px;
  color: #7f977b;
  width: 345px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-left: 30px;
  margin-bottom: 7px;
}

.banner .search form select option {
  border-radius: 5px;
}

.banner .search form input.date {
  background: url(../images/icon/datepicker.svg) no-repeat right 10px center #fff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  height: 50px;
  color: #7f977b;
  width: 345px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-left: 30px;
  margin-bottom: 7px;
}

.banner .search form input.date::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.banner .search form input.date::-webkit-input-placeholder {
  color: #7f977b;
  opacity: 1;
}

.banner .search form input.date:-ms-input-placeholder {
  color: #7f977b;
  opacity: 1;
}

.banner .search form input.date::-ms-input-placeholder {
  color: #7f977b;
  opacity: 1;
}

.banner .search form input.date::placeholder {
  color: #7f977b;
  opacity: 1;
}

.banner .search form input {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-size: 16px;
  line-height: 50px;
  color: #9e9e9e;
  width: 345px;
  padding-left: 30px;
  margin-bottom: 7px;
}

.banner .search form button {
  margin: auto;
  background-color: #7f977b;
  border-radius: 6px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  color: #fff;
  width: 345px;
  font-weight: bold;
  letter-spacing: 1rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .search form button:hover {
  background-color: #65895f;
}

.banner .search form button img {
  margin-right: 1rem;
}

@media (min-width: 768px) {
  .banner .search form select {
    width: 350px;
  }
  .banner .search form input {
    width: 350px;
  }
  .banner .search form button {
    width: 350px;
  }
}

@media (min-width: 768px) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
    margin-bottom: 57px;
  }
}

@media (min-width: 1200px) {
  .banner {
    margin-bottom: 60px;
  }
  .banner .search form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 15px;
    padding-right: 70px;
    padding-left: 70px;
  }
  .banner .search form select {
    width: 50%;
  }
  .banner .search form input.date {
    width: 240px;
  }
  .banner .search form input {
    width: 370px;
  }
  .banner .search form button {
    margin-top: 0;
    width: 20%;
  }
}

section.category {
  margin-top: 24px;
  margin-bottom: 60px;
}

section.category .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  width: 100%;
  margin-bottom: 8px;
}

section.category .top h4 {
  margin-left: 21px;
  font-weight: 300;
  font-size: 24px;
}

section.category .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  margin-right: 15px;
  margin-left: 15px;
  row-gap: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.category .list .cat {
  width: calc(50% - 10px);
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}

section.category .list .cat img {
  width: 100%;
}

section.category .list .cat p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.03em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

@media (min-width: 768px) {
  section.category .list {
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 12px;
    margin: auto;
    margin-right: 30px;
    margin-left: 30px;
  }
  section.category .list .cat {
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 1200px) {
  section.category {
    margin-top: 36px;
    margin-bottom: 120px;
  }
  section.category .top {
    margin-bottom: 12px;
  }
  section.category .top h4 {
    margin-left: 60px;
    font-size: 36px;
  }
}

section.category .top .result {
  font-size: 14px;
  margin-left: 8px;
  color: #646464;
}

section.category .top .result span {
  color: #bea363;
}

@media (min-width: 1200px) {
  section.category .top .result {
    font-size: 18px;
    padding-bottom: 8px;
  }
}

footer {
  width: 100%;
  height: 60px;
  background: #65895F;
}

footer p {
  color: #fff;
  line-height: 60px;
  font-size: 14px;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translateX(276px);
            transform: translateX(276px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes move {
  from {
    -webkit-transform: translateX(276px);
            transform: translateX(276px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.moblie-menu {
  z-index: 800;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100vh;
}

.moblie-menu .bg {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.moblie-menu .bg nav {
  -webkit-animation: move 0.2s;
          animation: move 0.2s;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0;
  width: 276px;
  background-color: white;
  border-bottom-left-radius: 30px;
  padding-top: 0px;
}

.moblie-menu .bg nav .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 17px;
  padding-bottom: 17px;
}

.moblie-menu .bg nav .top img.logo {
  margin-left: 30px;
}

.moblie-menu .bg nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.moblie-menu .bg nav ul li {
  height: 77px;
  line-height: 77px;
  text-align: center;
}

.moblie-menu .bg nav ul li a {
  padding: 24px 89px;
}

.moblie-menu .bg nav ul li a:link,
.moblie-menu .bg nav ul li a:visited {
  color: #646464;
}

.moblie-menu .bg nav ul li:nth-child(1) {
  margin-left: 8px;
  margin-right: 8px;
  border-bottom: 1px solid #e6e6e6;
}

.moblie-menu .bg nav ul li:nth-child(2) {
  margin-left: 8px;
  margin-right: 8px;
  border-bottom: 1px solid #e6e6e6;
}

@media (min-width: 768px) {
  .moblie-menu {
    display: none;
  }
}

section.category .search-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
}

section.category .search-list .result-event-card {
  width: 100%;
}

section.category .search-list .result-event-card figure .img-wrap {
  border-radius: 20px;
  overflow: hidden;
  height: 160px;
  margin-bottom: 6px;
}

section.category .search-list .result-event-card figure .img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

section.category .search-list .result-event-card figure figcaption.name {
  font-size: 18px;
  font-weight: 700;
  color: #2f2f2f;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 6px;
  letter-spacing: 0.03em;
}

section.category .search-list .result-event-card figure figcaption.location {
  color: #646464;
  font-size: 16px;
  margin-bottom: 20px;
}

section.category .search-list .result-event-card figure figcaption.location img {
  margin-right: 4px;
}

@media (min-width: 576px) {
  section.category .search-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section.category .search-list .result-event-card {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
  section.category .search-list .result-event-card figure .img-wrap {
    height: 180px;
  }
}

@media (min-width: 768px) {
  section.category .search-list .result-event-card {
    width: 33.3%;
  }
}

@media (min-width: 1200px) {
  section.category .search-list {
    padding-right: 30px;
    padding-left: 30px;
  }
  section.category .search-list .result-event-card {
    width: 25%;
  }
  section.category .search-list .result-event-card figure .img-wrap {
    height: 200px;
  }
  section.category .search-list .result-event-card figure figcaption.name {
    font-size: 22px;
  }
  section.category .search-list .result-event-card figure figcaption.location {
    margin-bottom: 36px;
  }
}

figure.nofound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 70px;
  margin-bottom: 80px;
}

figure.nofound img {
  margin-bottom: 16px;
}

figure.nofound p {
  color: #7f977b;
  font-weight: 700;
  font-size: 20px;
}

@media (min-width: 1200px) {
  figure.nofound {
    margin-top: 80px;
  }
}
/*# sourceMappingURL=event.css.map */